<!DOCTYPE html>


@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/app/controllers/Url.js"></script>

<div ng-controller="UrlController as urlController" ng-init="urlController.initialize()">

</div>